.pagination-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    font-size: 14px;
    margin-top: 2%;
}
.paginationDropdown .btn {
    display: inline-block;
    background-color: white;
    border: 1px solid #dee2e6;
    color: #303030;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    font-size: 14px;
    height: 38px;
    &:hover,
    &:active,
    &:focus
    &:host{
        background-color: white;
        border: 1px solid #dee2e6;
        color: #303030;
    }
  }
  .paginationDropdown .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: white;
    border: 1px solid #dee2e6;
    color: #303030;
  }