.behalfPayConfig_checkbox{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    .text{
        width: 40%;
    }
    .content{
        width: 60%;
    }
}
.behalfPay .btn {
    display: inline-block;
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: white;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 14px;
    &:hover,
    &:active{
        background-color: #a57d07;
        border: 1px solid #ffc107;
    }
    ::after{
        content: none;
    }
  }
  .behalfPay .dropdown-toggle::after{
     content: none;
  }